@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.sidebar {
  position: sticky;
  top: 0;
  height: 95vh; 
  width: 240px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  border-right: 1px solid #e6e9ee;
}

/* Header */
.sidebar-top h3 {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.sidebar-top small {
  color: #aaa;
  font-size: 0.85rem;
}

/* Navigation */
.sidebar-nav {
  display: flex;
  flex-direction: column;
padding-top: 30px;
}

.sidebar-nav a {
  color: black;
  text-decoration: none;
  margin: 4px 0;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 0.95rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar-nav a:hover {
  background-color: #ee7428;
  color: white;
}

/* Bottom section */
.sidebar-bottom {
  border-top: 1px solid #ddd;
  padding-top: 15px;
  margin-top: 350px;

}

.sidebar-bottom p {
  margin-bottom: 10px;
  font-size: 0.9rem;
  font-weight: 500;
}

.sidebar-bottom button {
  width: 100%;
  background-color: #ee7428;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.sidebar-bottom button:hover {
  background-color: #b52b3b;
}
