.sidebar-icon-only {
  width: 70px;
  background: var(--bg-card);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  border-right: 1px solid var(--border-color);
  position: sticky;
  top: 0;
   z-index: 10000;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-grow: 1;
  width: 100px;
  
}

.nav-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-main);
  width: 100%;
  padding: 12px 0;
  transition: all 0.2s ease;
}

.nav-item.active {
  color: var(--primary-orange);
}

.nav-item:hover {
  color: var(--primary-orange);
}

/* Tooltip */
.tooltip {
  position: absolute;
  left: 80px;
  background: var(--primary-orange);
  color: var(--text-main);
  padding: 6px 12px;
  border-radius: 12px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-50%);
  top: 50%;
  transition: opacity 0.2s ease;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  font-size: 0.9rem;
   z-index: 10001;
}

.nav-item:hover .tooltip,
.logout-btn:hover .tooltip {
  opacity: 1;
}

.sidebar-bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logout-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-orange);
  color: var(--bg-main);
  border: none;
  border-radius: 12px;
  padding: 12px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.logout-btn:hover {
  background: var(--primary-orange-hover);
}
