.coordinator-settings-layout {
  display: flex;
  background-color: #f9fafb;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}

.settings-container {
  flex: 1;
  padding: 30px;
}

.settings-title {

  display: flex;
  justify-content: space-between;
  align-items: center;
   background-color: #fff;
  padding: 20px 25px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
  color: #000;

}

.user-id {
  font-size: 0.8rem;
  color: #666;
  margin-bottom: 20px;
}

.tab-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tab-buttons button {
  border: none;
  background: #e5e7eb;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.2s;
}

.tab-buttons button.active {
  background-color: #4f46e5;
  color: white;
  font-weight: 500;
}

.settings-card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.settings-card h2 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 8px 10px;
  font-size: 0.9rem;
}

.form-group small {
  color: #777;
  font-size: 0.8rem;
}

.save-btn {
  background: #4f46e5;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
}

.profile-section {
  text-align: center;
  margin-bottom: 20px;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 10px auto;
  border: 3px solid #4f46e5;
}

h1 {
  color: black;
}